@font-face {
  font-family: 'Work Sans';
  font-weight: bold;
  font-style: normal;

  src: url('../fonts/Work_Sans/WorkSans-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: 600;
  font-style: normal;

  src: url('../fonts/Work_Sans/WorkSans-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Work Sans';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/Work_Sans/WorkSans-Regular.ttf') format('ttf');
}
