@import './_fonts.scss';

@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities/flex';

body {
  font-family: 'Work Sans', sans-serif;
  line-height: 1.45em;
  font-style: normal;
  background-color: #fdfdfd;
}
h1 {
  color: #444444;
}
